# For easier local debugging
PYTHONPATH=/path/to/workspace

# Earth Overservation Group Account for NTL access (https://eogdata.mines.edu/products/register/)
EOG_USER=my@email.com
EOG_PASSWORD=password

# Google Earth Engine Service Account, Credential json location, and uploaded grid asset filename
GEE_SERVICE_NAME=XXX@XXX.gserviceaccount.com
GEE_SERVICE_JSON=gee_service_creds.json
BASE_GRID_ASSET=projects/project-name/assets/base_grid_prio

# NASA Earth Observations System Data API key
EOSDIS_NASA_GOV=XXX

# CEMS Early Warning Data Store API key
EWDS_KEY=XXX

# Earthdata Login (https://urs.earthdata.nasa.gov/)
EARTHDATA_USER=user
EARTHDATA_PASSWORD=password